.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
build/Debug/main4.o
build/Debug/string1.o
build/Debug/tree.o
build/Release/main4.o
build/Release/string1.o
build/Release/tree.o
build/Debug/write_text.o
build/Release/write_text.o
build/Debug/outDebug.exe
.gitignore
build/Release/outRelease.exe
count words file.txt
text.txt
